:root { /* as cores e tamanhos aqui são para ser feita alteração somente uma vez */
    --tamanho: 3rem;
    --cor-fundo: white;
    --cor-jogador1: orange;
    --cor-jogador2: yellow;
}

header {
    background: whitesmoke;
    height: 50px;
    font-family: 'Bungee', cursive;
    text-align: center;
    color: blue;
}

#jogo{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    background: var(--cor-fundo);
}

.coluna {
    display: flex;
    flex-direction: column;
    background: blue;
    border: 0.5px solid darkblue;
    padding: 0 ;
}

.celula {
    border: 1px solid darkblue;
    border-radius: 50%;
    width: var(--tamanho);
    height: var(--tamanho);
    background: var(--cor-fundo);
    margin: 2px;
}

.jogador1, .jogador2 {
    border-radius: 50%;
    width: var(--tamanho);
    height: var(--tamanho);
    border: 1px solid darkblue;
    margin: -1px;
}

.jogador1 {
    background: var(--cor-jogador1);
}
.jogador2 {
    background: var(--cor-jogador2);
}

.coluna .celula:hover {
    background: #80808048;
}

#vencedor {
    visibility: hidden;
}

footer {
    background: whitesmoke;
    height: 50px;
}
